.button {
    outline: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border: none;

    background-color: transparent;
    color: #000000;

    font-size: 18;
    font-weight: 500;
    text-decoration: none;

    * {
        position: relative;
        z-index: 3;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: inherit;
    }

    &::before {
        z-index: 1;

        background-image: linear-gradient(
            to top right,
            var(--brand-gradient-desaturated-left),
            var(--brand-gradient-desaturated-right)
        );

        transition: transform 275ms ease-out;
    }

    &::after {
        z-index: 2;

        background-image: linear-gradient(
            to top right,
            var(--brand-gradient-left),
            var(--brand-gradient-right)
        );

        opacity: 0;

        transition: opacity 175ms ease, transform 275ms ease-out;
    }

    &:hover,
    &:active {
        &::before,
        &::after {
            transform: scale(1.05);
        }

        &::after {
            opacity: 1;
        }
    }

    &:focus::before {
        box-shadow: var(--focus-ring);
    }

    &:focus-visible::before {
        box-shadow: 0 0 0 2px var(--bg-default),
            0 0 0 4px var(--brand-text-hero);
    }

    &.size\:medium {
        height: 36px;
        padding: 0 1.25rem;

        border-radius: 18px;
    }

    &.size\:large {
        height: 48px;
        padding: 0 1.75rem;

        border-radius: 24px;

        font-size: 20px;
    }

    &.size\:mediumIcon {
        width: 36px;
        height: 36px;
        padding: 0;

        border-radius: 18px;

        > span {
            line-height: 16px;
        }
    }

    &.variant\:primary {
        color: var(--fg-button-primary);

        &::before {
            background-image: none;
        }

        &::after {
            opacity: 0.3;
        }

        &:hover,
        &:active {
            &::after {
                opacity: 0.4;
            }
        }

        &:focus::before {
            box-shadow: inset 0 0 0 1px var(--brand-gradient-desaturated-right),
                var(--focus-ring);
        }
    }

    &.variant\:tertiary {
        color: var(--fg-default);

        &::before {
            background-color: transparent;
            background-image: none;
        }

        &:hover::after {
            opacity: 0.25;
        }

        &:focus::before {
            box-shadow: inset 0 0 0 1px var(--brand-gradient-desaturated-right),
                var(--focus-ring);
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .button {
        &::before,
        &::after {
            transform: none !important;
        }
    }
}
