$fill: 70;
$gap: 50;

.loader path {
    stroke-dasharray: $fill $gap;
    animation: 1250ms ease path-dash infinite;
}
@keyframes path-dash {
    from {
        stroke-dashoffset: $fill + $gap;
    }

    to {
        stroke-dashoffset: 0;
    }
}
